In [39]:
import pandas as pd
import numpy as np
data = pd.read_csv('data/telcom_users_steam_undersample.csv')

In [40]:
data.head()

,is_increase,age,Gender,Cellphone,Education_Level,Marital_Status,consume,Level,App
0,1,6,F,Android,2,Married,Low,Blue,2
1,1,1,F,Android,2,Married,Low,Blue,2
2,1,1,M,Android,2,Married,High,Blue,1
3,1,2,M,Android,2,Married,Middle,Silver,2
4,1,1,M,Android,2,Married,High,Blue,3

In [20]:
# 独热编码
data = pd.get_dummies(data)
data.head(5)

,is_increase,age,Education_Level,App,Gender_F,Gender_M,Cellphone_Android,Cellphone_iPhone,Marital_Status_Divorced,Marital_Status_Married,Marital_Status_Single,consume_High,consume_Low,consume_Middle,Level_Blue,Level_Gold,Level_Platinum,Level_Silver
0,1,6,2,2,1,0,1,0,0,1,0,0,1,0,1,0,0,0
1,1,1,2,2,1,0,1,0,0,1,0,0,1,0,1,0,0,0
2,1,1,2,1,0,1,1,0,0,1,0,1,0,0,1,0,0,0
3,1,2,2,2,0,1,1,0,0,1,0,0,0,1,0,0,0,1
4,1,1,2,3,0,1,1,0,0,1,0,1,0,0,1,0,0,0

In [21]:
#去除标签，并转换一下数据格式
# 数据与标签
import numpy as np
# 标签
labels = np.array(data['is_increase'])
# 在特征中去掉标签
features= data.drop('is_increase', axis = 1)
# 名字单独保存一下，以备后患
feature_list = list(features.columns)

In [27]:
# 数据集切分
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test= train_test_split(features, labels, test_size = 0.25,
                                                                           random_state = 42)

In [29]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [30]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=0)

In [35]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', random_state=0)

In [36]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [37]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [38]:
cm

array([[136, 131],
       [150, 140]], dtype=int64)