In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('data/telcom_users_steam.csv')
data.head()

,is_increase,age,Gender,Cellphone,Education_Level,Marital_Status,consume,Level,App
0,0,2,M,iPhone,1,Married,32,Blue,5
1,0,2,F,iPhone,2,Single,31,Blue,6
2,0,1,M,iPhone,2,Married,33,Blue,4
3,0,3,M,iPhone,1,Married,32,Blue,5
4,0,2,M,Android,2,Married,32,Blue,3

In [13]:
#针对尚未治理好的数据做一下补充
data.loc[(data['Cellphone']==0), 'Cellphone'] = 'Android';
data.loc[(data['Cellphone']==1), 'Cellphone'] = 'Android';
data.loc[(data['Cellphone']==2), 'Cellphone'] = 'Android';

In [14]:
data.loc[(data['Cellphone']==3), 'Cellphone'] = 'iPhone';
data.loc[(data['Cellphone']==4), 'Cellphone'] = 'iPhone';
data.loc[(data['Cellphone']==5), 'Cellphone'] = 'iPhone';

In [17]:
data.to_csv('./data/telcom_users_steam.csv')